BackOfficeExtensions/bin/Debug/$RANDOM_SEED$
*.suo
BackOfficeExtensions/bin/Debug/$RANDOM_SEED$
*.suo
/.vs
/BackOfficeExtensions/obj
/BackOfficeExtensions/bin/Debug
/BackOfficeExtensions/*.user
/BackOfficeExtensions/bin/Release/*.pdb
